<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>TOO "ALLEM" - Website is under construction</title>
  <meta name="yandex-verification" content="1f99fa0fe11f2ce4" />

  <style>
    #section1 {
      height: 500px;
      text-align:center;
      display:table;
      width:100%;
    }

    #section1 h1 {
      display: table-cell;
      vertical-align: middle;
      font-family: monospace;
      font-weight: 100;
      font-size: 30px;
    }
  </style>

</head>

<body>
    <h4><%= message %></h4>
    <p><%= error %></p>
</body>
</html>
